/* *{
    background-color: #00000011;
} */

@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway:400,600,900&display=swap');
.align-center {
  text-align: center;
}

.jumbotron {
  box-shadow: 0em 1em 0.5em 0.25em rgba(0, 0, 0, 0.25);
}

.cardFadeIn {
  opacity: 0;
  animation: 0.1s ease-out 0s 1 fadeInUp forwards;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: url("/img/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.page-header.member {
  background-image: url("/img/members_background_1080.jpg");
}

@media (min-width: 1930px) {
  .page-header.member {
    background-image: url("/img/members_background.jpg"), url("/img/members_background_1080.jpg");
  }
  .page-header.team {
    background-image: url("/img/backstretch_full.jpg"), url("/img/backstretch_1080.jpg"), url("/img/backstretch_405.jpg") !important;
  }
  #backstretch {
    background-image: url("/img/backstretch_full.jpg"), url("/img/backstretch_1080.jpg"), url("/img/backstretch_405.jpg") !important;
  }
}

.page-header.gallery {
  background-image: url("/img/gallery_background.jpg");
}

.page-header.team {
  background-image: url("/img/backstretch_1080.jpg"), url("/img/backstretch_405.jpg");
}

#backstretch {
  background-color: rgb(41, 41, 41);
  background-image: url("/img/backstretch_1080.jpg"), url("/img/backstretch_405.jpg");
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

#backstretch h1 {
  animation: 0.8s ease-out 0s 1 fadeIn;
  text-align: center;
  font-size: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-shadow: 0em 0em 0.2em rgba(0, 0, 0, 0.5);
}

#backstretch img {
  animation: 0.8s ease-out 0s 1 fadeIn, 3s ease 0.8s infinite hovering;
  text-align: center;
  font-size: 5rem;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  z-index: 100;
  text-shadow: 0em 0em 0.2em rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@keyframes hovering {
  0% {
    top: 100%;
  }
  50% {
    top: 98%;
  }
  100% {
    top: 100%;
  }
}

#backstretch-img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: auto;
  height: 100%;
}

nav {
  transition: 0.2s ease-in-out;
}

.small-images img {
  pointer-events: none;
  margin: 15% 0;
  width: 50%;
  max-width: 50vw;
  position: relative;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%);
}

.small-images .card-body {
  padding: 0px 5px 5px 5px;
}

.lozad:not(.loaded) {
  opacity: 0 !important;
  height: 30vh;
}

.gallery .lozad {
  min-height: 10vh;
}

.lozad {
  transition: 0.5s ease-in-out;
}

.card, .masonryItem img, .youtubeEmbedContainer, .mapouter {
  box-shadow: 0em 0.5em 0.5em 0.25em rgba(0, 0, 0, 0.15);
}

.card-counter {
  text-align: center;
}

.counter {
  color: #355BEA;
  font-weight: bold;
}

.page-header {
  width: 100vw;
  background-color: rgb(41, 41, 41);
  color: #ffffff;
  min-height: 25vw;
  height: 50vh;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.page-header h1 {
  animation: 0.8s ease-out 0s 1 fadeIn;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.navbar-brand {
  background-color: #ffffff50;
  /* padding:.3125rem; */
  border-radius: 8px;
}

@media (max-width: 767px) {
  .teamMemberDesc.row {
    margin-right: 0;
    margin-left: 0;
  }
}

.teamMemberDesc>div {
  padding-right: 0;
  padding-left: 0;
}

.teamMemberImage {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.teamMemberImage img {
  width: 100%;
}

.teamMemberDesc .jumbotron {
  height: 100%;
  box-shadow: 0em 1em 0.5em 0.25em rgba(0, 0, 0, 0);
}

.teamMemberDesc {
  box-shadow: 0em 1em 0.5em 0.25em rgba(0, 0, 0, 0.25);
}

nav {
  animation: 0.5s ease-out 0s 1 fadeIn;
  width: 100vw;
  padding: 0;
}

.jumbotron .btn {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  font-size: 125%;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.footer {
  background-color: #444444;
  color: #ffffff;
  padding: 1em 0;
  text-align: center;
  margin-top: 2em;
}

.footer h6 {
  margin-bottom: 0;
}

.footer a, .footer a:visited {
  color: #949ae9;
}

.footer a:hover {
  color: #7c82cc;
}

h1 .btn {
  font-size: 1.5rem;
}

h3.sub-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

h1.sub-title {
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 600;
}

.card-title {
  font-weight: 600;
}

/* when card decks expand out */

@media (min-width: 576px) {
  .card-deck-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.card-deck-deck .card-deck {
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  flex-shrink: 0;
  flex-basis: 0%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-grow: 2;
  margin-right: 0px;
  margin-left: 0px;
}

.card-deck-deck .card-deck.captain {
  flex-grow: 1;
}

@media (max-width: 575px) {
  .card-deck-deck .card-deck.captain {
    padding: 0% 20% 0% 20%;
  }
}

.card-deck .card {
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}

/* mobile only */

@media only screen and (max-width: 60rem) {
  #backstretch h1 {
    font-size: 3rem;
  }
  h1 .btn {
    font-size: 1.25rem;
  }
  .page-header h1 {
    font-size: 3rem;
  }
  h1.sub-title {
    font-size: 2rem;
  }
  h1.sub-title {
    font-size: 2rem;
  }
  h1.display-4 {
    font-size: 2rem;
  }
  .jumbotron p.lead {
    font-size: 1.1rem;
  }
  .jumbotron p {
    font-size: 0.9rem;
  }
  .footer h6 {
    font-size: 0.7rem;
  }
  div.youtubeEmbedContainer.row {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(15%)
  }
  80% {
    opacity: 0.8;
    transform: translateY(0%)
  }
  100% {
    opacity: 1;
  }
}

.flashing {
  animation: 0.3s ease-in-out 0s 3 backgroundFlash;
}

@keyframes backgroundFlash {
  0% {
    background-color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    background-color: rgb(87, 87, 87);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    background-color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.masonryItem-sizer, .masonryItem {
  width: calc(33% - 5px)
}

.masonryItem.wide {
  width: calc(66% - 5px)
}

@media (max-width: 768px) {
  .masonryItem-sizer, .masonryItem {
    width: calc(50% - 5px)
  }
  .masonryItem.wide {
    width: calc(50% - 5px)
  }
}

@media (max-width: 576px) {
  .masonryItem-sizer, .masonryItem {
    width: 100%
  }
  .masonryItem.wide {
    width: 100%
  }
  .masonryItemContainer img {
    width: calc(100%);
  }
}

.masonryItem {
  margin-bottom: 5px;
}

.masonryItemContainer .masonry {
  border-radius: calc(.25rem - 1px);
  /* width: 33%; */
  display: block;
  width: calc(100% - 1em);
  margin: 0.5em;
  transition: transform 0.25s ease-out;
}

.PC .masonryItemContainer .masonry:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.PC .masonryItemContainer .masonry:active:not(.card) {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.PC .masonryItem:hover {
  z-index: 1000;
}

.PC .masonryItem:active {
  z-index: 100000;
}

.blurry.vex {
  background: url(/img/VRC_field_blurry.jpg);
  margin-top: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

.Firefox .blurry.vex, .Edge .blurry.vex, .Mobile .blurry.vex {
  background: hsla(0, 0%, 0%, 0.7);
}

.Safari .page-header h1 {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1000;
}

.Safari .page-header {
  padding: 0;
}

.youtubeEmbedContainer.row {
  position: relative;
  left: 0%;
  transform: translate(0, 0);
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0;
  overflow: hidden;
}

.youtubeEmbedContainer.row.enlarged {
  position: relative;
  left: 50%;
  /* transform: translate(-50%,0); */
  width: calc(90vh / 0.5625);
  padding-bottom: 90vh;
  z-index: 100000;
}

.youtubeEmbed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
}

a.card {
  box-shadow: 0em 0.5em 0.5em 0.25em rgba(0, 0, 0, 0.15);
  color: #000;
  transition: .2s;
}

a.card:hover {
  box-shadow: 0em 0.5em 0.5em 0.3em rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.noDrag img {
  pointer-events: none;
}

.card-deck-deck.members {}

/* Label stuffs */

.labelFolder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-evenly;
  padding-left: 0.75em;
  padding-right: 0.75em;
  align-content: center;
}

.label {
  flex-grow: 1;
  border-radius: 0.25em;
  vertical-align: bottom;
  margin: 1em 0.5em;
  position: relative;
  padding: 0.75em 2em;
  box-shadow: 0em 0.3em 0.4em 0.1em hsla(230, 4%, 10%, 0.3);
  background: #e9ecef;
  transition: 0.2s;
}

a.label {
  text-shadow: none !important;
}

.label.button {
  font-size: 150%;
  margin: 0.3em 0.3em;
}

.label:hover {
  transition: 0.2s;
  box-shadow: 0em 0.3em 0.4em 0.15em hsla(230, 4%, 10%, 0.35);
}

.label span, .label i {
  margin-right: 0.25em;
}

.labelTitle {
  font-weight: 600;
  color: #0e0f0f;
  transition: 0.15s ease-out;
}

.labelTitle>i {
  font-size: 150%;
  vertical-align: middle;
  margin-right: 0.5em;
}

.labelContent {
  font-weight: 300;
  color: #23292e;
  transition: 0.15s ease-out;
}


.label.button::before {
  content: "";
}

.label::before {
  color: rgb(32, 32, 32);
  content: attr(alt);
  font-size: 0.75em;
  left: 0;
  top: -1.75em;
  position: absolute;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s cubic-bezier(0.21, 0.77, 0.53, 0.92);
}