/* *{
    background-color: #00000011;
} */

@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway:400,600,900&display=swap');
.align-center {
  text-align: center;
}

.jumbotron {
  box-shadow: 0em 1em 0.5em 0.25em rgba(0, 0, 0, 0.25);
}

.cardFadeIn {
  opacity: 0;
  animation: 0.1s ease-out 0s 1 fadeInUp forwards;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: url("/img/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.page-header.member {
  background-image: url("/img/members_background_1080.jpg");
}

@media (min-width: 1920px) {

  .page-header.member {
    background-image: url("/img/members_background_.jpg"), url("/img/members_background_1080.jpg");
  }
  #backstretch {
    background-image: url("/img/backstretch_full.jpg"), url("/img/backstretch_1080.jpg"), url("/img/backstretch_405.jpg") !important;
  }
}

#backstretch {
  background-color: rgb(41, 41, 41);
  background-image: url("/img/backstretch_1080.jpg"), url("/img/backstretch_405.jpg");
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

#backstretch h1 {
  animation: 0.8s ease-out 0s 1 fadeIn;
  text-align: center;
  font-size: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-shadow: 0em 0em 0.2em rgba(0, 0, 0, 0.5);
}

#backstretch-img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: auto;
  height: 100%;
}

nav {
  transition: 0.2s ease-in-out;
}

.small-images img {
  margin: 20% 0;
  width: 50%;
  max-width: 50vw;
  position: relative;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%);
}

.lozad:not(.loaded){
  opacity: 0 !important;
  height: 30vh;
}

.lozad{
  transition: 0.5s ease-in-out;
}

.card,.masonryImage img{
  box-shadow: 0em 0.5em 0.5em 0.25em rgba(0, 0, 0, 0.15);
}

.card-counter {
  text-align: center;
}

.counter {
  color: #355BEA;
  font-weight: bold;
}

.page-header {
  width: 100vw;
  background-color: rgb(41, 41, 41);
  color: #ffffff;
  padding: 10% 0;
  min-height: 25vw;
  height: 30vh;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.page-header h1 {
  animation: 0.8s ease-out 0s 1 fadeIn;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.navbar-brand {
  background-color: #ffffff50;
  /* padding:.3125rem; */
  border-radius: 8px;
}

@media (max-width: 768px) {
  .teamMemberImage {
    height: 50vh;
  }
  .teamMemberDesc.row {
    margin-right: 0;
    margin-left: 0;
  }
}

.teamMemberDesc>div {
  padding-right: 0;
  padding-left: 0;
}

.teamMemberImage {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.teamMemberDesc .jumbotron {
  height: 100%;
  box-shadow: 0em 1em 0.5em 0.25em rgba(0, 0, 0, 0);
}

.teamMemberDesc {
  box-shadow: 0em 1em 0.5em 0.25em rgba(0, 0, 0, 0.25);
}

nav {
  animation: 0.5s ease-out 0s 1 fadeIn;
  width: 100vw;
  padding: 0;
}

.jumbotron .btn {
  font-size: 150%;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.footer {
  background-color: #444444;
  color: #ffffff;
  padding: 1em 0;
  text-align: center;
}

.footer h6 {
  margin-bottom: 0;
}

h1 .btn {
  font-size: 2rem !important;
}

h3.sub-title {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.card-title {
  font-weight: 600;
}

/* when card decks expand out */

@media (min-width: 576px) {
  .card-deck-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.card-deck-deck .card-deck {
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
  margin-right: 0px;
  margin-left: 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.card-deck .card {
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}

/* mobile only */

@media only screen and (max-width: 60rem) {
  #backstretch h1 {
    font-size: 4rem;
  }
  .page-header h1 {
    transform: translate(-50%, -20%);
    font-size: 3rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(15%)
  }
  80% {
    opacity: 0.8;
    transform: translateY(0%)
  }
  100% {
    opacity: 1;
  }
}
.masonryImage-sizer,
.masonryImage{
  width: calc(33% - 5px)
}

.masonryImage.wide{
  width: calc(66% - 5px)
}

.masonryImage {
  margin-bottom: 5px;
}

.masonryImageContainer img{
  border-radius: calc(.25rem - 1px);
  /* width: 33%; */
  display: block;
  width: calc(100% - 1em);
  margin: 0.5em;
}